.barContainer {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 0.3rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  & > span {
    text-align: start;
    color: white;
    z-index: 2;
  }

  padding: {
    inline: 1rem;
  }
}

.barContainer span:first-child {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 700;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.45);
  color: #f1f1f1;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  color: white;
  font-size: 20px;
  text-align: center;
}
