@use '../../theme/colors' as c;

.container {
    height: 100%;
    background-color: c.$error;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    svg {
        font-size: 2rem;
    }
}
