@use "../../../theme/colors" as c;

.donateContainer {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: {
    inline: 3rem;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  color: c.$light;
  * {
    margin: 0;
  }
  h1 {
    font-size: 2.2rem;
    font-weight: 800;
  }
  h2 {
    font-weight: 600;
  }
  svg {
    font-size: 2rem;
  }
}

.additional {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  h3 {
    font-weight: 500;
  }
  span {
    font-size: 1.5rem;

    font-weight: 700;
  }
}

.buyMeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: "Assistant", sans-serif;
  border-radius: 0.3rem;
  color: c.$dark;
  background-color: c.$light;
  transition: all 0.2s ease;
  cursor: pointer;
  border: none;
  padding: {
    block: 0.5rem;
    inline: 1rem;
  }
  padding-right: 1.5rem;
  span {
    font-size: 1.1rem;
    font-weight: 800;
    text-transform: uppercase;
  }
  svg {
    height: 2rem;
    width: 2rem;
  }

  &:active {
    transform: scale(1.07);
  }
}
