@use "../../theme/colors" as c;

.card {
  width: 100%;
  height: 100%;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.4rem;
  }
}

.placeholderCard {
  width: 100%;
  min-height: 10rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: c.$light;
  font-size: 2rem;
  color: #fff;
  animation: 0.8s skeleton alternate-reverse infinite;
}

@keyframes skeleton {
  0% {
    background-color: c.$light2;
    color: c.$light;
  }
  100% {
    background-color: c.$light;
    color: c.$light2;
  }
}
