@use '../../theme/colors' as c;

.container {
    height: 100vh;
    width: 100%;
    position: relative;

    main {
        height: 90%;
        width: 100%;
    }
    footer {
        height: 10%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    background-color: c.$dark;

    .intro {
        position: absolute;
        top: 0;
        left: 0;
    }
    transition: all 0.3s ease;
}

@media (min-width: 1200px) {
    .container {
        box-sizing: border-box;
        padding: {
            inline: 20%;
        }
    }
}

@media (min-width: 1600px) {
    .container {
        box-sizing: border-box;
        padding: {
            inline: 30%;
        }
    }
}

@media (min-width: 1800px) {
    .container {
        box-sizing: border-box;
        padding: {
            inline: 35%;
        }
    }
}
