@use '../../../theme/colors' as c;
.markContainer {
    position: relative;
}

.iconContainer {
    display: flex;
    justify-self: center;
    align-items: center;
    font-size: 2.4rem;
}

.voteContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    // width: 1.2rem;
    min-width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-0.3rem, -0.3rem);
    span {
        color: c.$dark;
        font-size: 0.8rem;
        font-weight: 800;
    }
}

.long {
    padding: {
        inline: 0.2rem;
    }
    border-radius: 100px;
    transform: translate(-1rem, -0.3rem);
}

.maybe {
    font-size: 2rem;
    padding-right: 0.5rem;
}
