@use '../../theme/colors' as c;

.box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomNav {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 3;
}

.navBtn {
    height: 100%;
    width: 100%;
    display: flex;
    transition: all 0.2s ease;
    text-transform: none !important;
    font-family: 'Assistant', sans-serif;
    div {
        color: c.$light2;
        transition: all 0.2s ease;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;

        svg {
            font-size: 1.2rem;
            transition: all 0.2s ease;
        }

        span {
            font-size: 0.8rem;
            font-weight: 700;
            transition: all 0.2s ease;
        }
    }
}

.selected {
    div {
        color: c.$light;
        transform: scale(1.1);
        gap: 0;
    }
}
