@use '../../theme/colors' as c;

.waitingContainer {
    padding: {
        inline: 1.4rem;
        block: 1rem;
    }
    background-color: grey;
    box-sizing: border-box;
    border-radius: 0.4rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;

    * {
        margin: 0;
    }
    h1 {
        color: honeydew;
        font-weight: 600;
        font-size: 1.6rem;
    }
    h2 {
        color: honeydew;
        font-size: 2.5rem;
        font-weight: 700;
        margin-top: -1rem;
    }
}

.worth {
    background-color: c.$success;
}

.notWorth {
    background-color: c.$error;
}

.maybeWorth {
    background-color: c.$light;
}

.creditsRow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.creditsContainer {
    background-color: #fff;
    color: c.$dark;
    border-radius: 0.3rem;
    height: 4rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2rem;
    display: flex;
    padding: {
        inline: 1rem;
        block: 1rem;
    }
    justify-content: space-between;
    align-items: center;
}

.votes {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: greenyellow;
}

.moreInfo {
    margin: {
        inline: 0.5rem;
    }
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #fff;
    div {
        font-size: 0.9rem;
    }
}

.waitingProgressContainer {
    box-sizing: border-box;
    border-radius: 0.2rem;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    & > svg {
        color: white;
    }
}
