.voteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Assistant', sans-serif;
    padding: 0 !important;
    min-width: auto !important;
    width: 2.5rem;

    *:focus {
        outline: 0;
        outline: none;
    }
    cursor: pointer;
    // width: 2rem;

    span {
        font-family: 'Assistant', sans-serif;

        font-size: 0.7rem;
        color: #261c2c;
        font-weight: 800;
    }

    svg {
        height: 1.2rem;
        width: 1.2rem;
        color: #261c2c;
    }
}

.votedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 !important;
    min-width: auto !important;
    width: 2.5rem;
    span {
        font-family: 'Assistant', sans-serif;

        font-size: 0.7rem;
        color: rgba(122, 122, 122, 0.424);
        font-weight: 800;
    }

    svg {
        height: 1.2rem;
        width: 1.2rem;
        color: rgba(122, 122, 122, 0.424);
    }
}
