@use '../../theme/colors' as c;

.root {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: rgba(c.$dark, 0.95);
    color: c.$light;
    padding: {
        block: 3rem;
        inline: 3rem;
    }
    gap: 3rem;
    transition: gap 0.2s ease;
}

.introContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: gap 0.2s ease;
}

.welcomeMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: gap 0.2s ease;

    p {
        margin: 0;
    }
    & > p:first-child {
        font-size: 1.5rem;
        font-weight: 700;
    }
    & > p:last-child {
        font-size: 1.2rem;
        font-weight: 700;
    }
}

.instruction {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 10rem;
    gap: 5rem 1.5rem;
    transition: gap 0.2s ease;

    p {
        margin: 0;
        font-size: 1rem;
        font-weight: 600;
    }
}

.moviePress {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
        height: 100%;
        width: 100%;
    }

    svg {
        color: #fff;
        position: absolute;
        font-size: 2.5rem;
        bottom: 0;
        transform: translateY(50%);
        path {
            stroke: c.$dark;
            stroke-width: 1.5rem;
            stroke-linejoin: round;
            fill: #fff;
        }
    }
}

.vote {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    svg {
        height: 2rem;
        width: 2rem;
    }
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button {
        font-weight: 700 !important;
        background-color: c.$light !important;
    }
}

.close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    button {
        height: 3rem;
        width: 3rem;
        color: c.$light;
    }
}

@media (max-height: 700px) {
    .instruction {
        gap: 1rem 1.5rem;
    }
    .introContainer {
        gap: 0.5rem;
    }
    .welcomeMessage {
        gap: 0.5rem;
    }
    .root {
        gap: 0.5rem;
    }
}
