@use '../../theme/colors' as c;

.pageContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: {
        inline: 2rem;
        top: 3rem;
        bottom: 1rem;
    }
    justify-content: flex-start;
    align-items: center;
    height: 100%;

    header {
        height: 10%;
        width: 100%;
    }
    main {
        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    color: c.$light;
}

.aboutContainer {
    height: 30%;
    width: 100%;
    display: flex;
    gap: 1.2rem;
}

.waitingContainer {
    height: 70%;
}

.aboutCard {
    width: 35%;
    height: 100%;
    margin-bottom: 1rem;
}

.aboutDetails {
    display: block;
    width: calc(65%);
    overflow-y: auto;

    white-space: pre-wrap;
    text-overflow: ellipsis ellipsis;
    height: calc(100%);

    & > * {
        margin: 0;
    }
    h1 {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.6rem;
    }
    h2 {
        font-size: 1.2rem;
        font-weight: 700;
    }
    p {
        text-align: start;
        font-size: 0.9rem;
        font-weight: 400;
    }
}

.progressPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.waitingProgressContainer {
    box-sizing: border-box;
    border-radius: 0.2rem;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    & > svg {
        color: white;
    }
}
