@use '../../../theme/colors' as c;

.searchContainer {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: {
        inline: 2rem;
        block: 1.31rem;
    }
}

.searchField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    input {
        border: none;
        padding: {
            block: 0.8rem;
            inline: 0.8rem;
        }
        border-radius: 0.4rem;
        font-size: 1.2rem;
        font-family: 'Assistant', sans-serif;
        font-weight: 700;
        width: 100%;
        background-color: c.$light;
        color: c.$dark;
        transition: all 0.2s ease;
        &::placeholder {
            color: c.$dark;
            opacity: 1;
        }
        &:focus {
            outline: none;
            transform: scale(0.95);
        }
    }

    button {
        color: c.$light;
        margin: {
            left: 0.5rem;
        }
    }
}

.resultsContainer {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: {
        top: 1rem;
    }

    gap: 0.5rem;
    overflow-y: auto;
}

.movieBarContainer {
    min-height: 5.5rem;
}

.noResultsContainer {
    color: c.$light;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    span {
        font-size: 1.8rem;
        font-weight: 600;
    }

    font-size: 3rem;
}

.searchStartScreen {
    color: c.$light;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    span {
        font-size: 1.8rem;
        font-weight: 600;
    }

    font-size: 3rem;
}
