.App {
    height: 100%;
    overflow-y: hidden;
    font-family: 'Assistant', sans-serif;

    -webkit-user-select: none !important; /* Chrome all / Safari all */
    -moz-user-select: none !important; /* Firefox all */
    -ms-user-select: none !important; /* IE 10+ */
    user-select: none !important; /* Likely future */
}
